$gap-width: 24px;
$font-family-base: '-apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, RobotoDraft, "San Francisco", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$theme-color: #616161;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: rgba(0,0,0,.87);
}

header.toolbar {
    display: flex;
    padding: 0 $gap-width;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;

    outline: solid 1px;
    height: 50px;
    background: $theme-color;
    color: #fff;

    h1 {
        display: block;
        margin: 0;
        font: 500 20px/32px $font-family-base;
        letter-spacing: normal;
    }
}

main {
    margin: 0;
    padding: $gap-width;
}

section {
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(0,0,0,.2);
    margin: 0;
    padding: 8px;

    .title {
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;

        * {
            flex: 1 1 auto;
            font-weight: 600;
        }
    }
}

section + section {
    margin-top: $gap-width;
}

a {
    outline: none;
    color: $theme-color;
    &:hover, &:focus, &:visited {
        color: $theme-color;
    }
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &::-moz-focus-inner {
        border: 0;
    }

    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;

    margin: 0;
    min-width: 64px;

    padding: 0 15px;
    line-height: 34px;

    vertical-align: middle;
    color: inherit;
    background: transparent;

    border-radius: 0;
    border: 1px solid currentColor;
    border-color: $theme-color;
}

.action-buttons {
    margin-top: $gap-width;
    margin-bottom: $gap-width;

    button + button {
        margin-left: $gap-width / 2;
    }
}

footer {
    padding: $gap-width;

    h2 {
        font-family: $font-family-base;
        font-weight: 600;
        font-size: 18px;
    }
}
